<section>
    <div class="footerhead">
    <div class="row container">
        <div class="col-md-4 text-center">
            <h2>
                LOCATION
            </h2>
            <p>
                2215 John Daniel Drive
            </p>
            <p>
                Clark, MO 65243
            </p>
        </div>
        <div class="col-md-4 text-center">
            <h2>
                AROUND THE WEB
            </h2>
            <div class="social mx-auto text-center">
                <span><i class="fa-brands fa-facebook"></i></span>
                <span><i class="fa-brands fa-twitter"></i></span>
                <span><i class="fa-brands fa-linkedin-in"></i></span>
                <span><i class="fa-solid fa-globe"></i></span>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <h2>
                ABOUT FREELANCER
            </h2>
            <p>
                Freelance is a free to use, licensed Bootstrap theme created by Route
            </p>
        </div>
    </div>
    </div>

    <div class="text-center footerend">
        <p>Copyright © Your Website 2021</p>
    </div>
</section>