<section class="contact">
    <div class="container">
        <div class="contact-head text-center">
            <h2>CONATCT SECTION</h2>
            <div class="d-flex align-items-center justify-content-center my-3">
                <div class="line me-3"></div>
                <i class="fa-solid fa-star" style="color: #2C3E50;"></i>
                <div class="line ms-3"></div>
            </div>
        </div>
        <form action="" class="w-50 mx-auto p-3 mt-5">
            <label for="userName" class="position-relative top-0 _top">userName</label>
            <input id="userName" class="form-control border-0 border-bottom py-3 position-relative" type="text">
            <label for="userAge" class="position-relative top-0 _top">userAge</label>
            <input id="userAge" class="form-control border-0 border-bottom py-3 position-relative" type="text">
            <label for="userEmail" class="position-relative top-0 _top">userEmail</label>
            <input id="userEmail" class="form-control border-0 border-bottom py-3 position-relative" type="text">
            <label for="userPassword" class="position-relative top-0 _top">userPassword</label>
            <input id="userPassword" class="form-control border-0 border-bottom py-3 position-relative" type="text">
            <button class="btn mt-4 text-white">
                send Message 
            </button>
        </form>
    </div>
</section>