<section>
    <div class="container text-center">
        <h2>PORTFOLIO COMPONENT</h2>
        <div class="d-flex align-items-center justify-content-center my-3">
            <div class="line me-3"></div>
            <i class="fa-solid fa-star" style="color: #2C3E50;"></i>
            <div class="line ms-3"></div>
        </div>
        <div class="row">
            <div class="col-md-4 overflow-hidden mb-5">
                <div class="position-relative rounded-3 overflow-hidden">
                    <img class="w-100 h-100 rounded-3" src="./assets/images/poert1.png" alt="">
                    <div class="icons position-absolute d-flex start-0 top-0 h-100 w-100 justify-content-center align-items-center">
                        <i class="fa-solid fa-plus" style="color: #fff;font-size:100px ;"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 overflow-hidden mb-5">
                <div class="position-relative rounded-3 overflow-hidden">
                    <img class="w-100 h-100 rounded-3" src="./assets/images/port2.png" alt="">
                    <div class="icons position-absolute d-flex start-0 top-0 h-100 w-100 justify-content-center align-items-center">
                        <i class="fa-solid fa-plus" style="color: #fff;font-size:100px ;"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 overflow-hidden mb-5">
                <div class="position-relative rounded-3 overflow-hidden">
                    <img class="w-100 h-100 rounded-3" src="./assets/images/port3.png" alt="">
                    <div class="icons position-absolute d-flex start-0 top-0 h-100 w-100 justify-content-center align-items-center">
                        <i class="fa-solid fa-plus" style="color: #fff;font-size:100px ;"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 overflow-hidden mb-5">
                <div class="position-relative rounded-3 overflow-hidden">
                    <img class="w-100 h-100 rounded-3" src="./assets/images/poert1.png" alt="">
                    <div class="icons position-absolute d-flex start-0 top-0 h-100 w-100 justify-content-center align-items-center">
                        <i class="fa-solid fa-plus" style="color: #fff;font-size:100px ;"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 overflow-hidden mb-5">
                <div class="position-relative rounded-3 overflow-hidden">
                    <img class="w-100 h-100 rounded-3" src="./assets/images/port2.png" alt="">
                    <div class="icons position-absolute d-flex start-0 top-0 h-100 w-100 justify-content-center align-items-center">
                        <i class="fa-solid fa-plus" style="color: #fff;font-size:100px ;"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 overflow-hidden mb-5">
                <div class="position-relative rounded-3 overflow-hidden">
                    <img class="w-100 h-100 rounded-3" src="./assets/images/port3.png" alt="">
                    <div class="icons position-absolute d-flex start-0 top-0 h-100 w-100 justify-content-center align-items-center">
                        <i class="fa-solid fa-plus" style="color: #fff;font-size:100px ;"></i>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>